In [3]:
text = "Good Morning World"
print(text)

Good Morning World

<h2>Heading 2</h2>

Normal text here!

<h3>Heading 3</h3>
ordered list here
0. Fruits
    0. Banana
    0. Grapes
0. Veggies
    0. Tomato
    0. Broccoli

Unordered list here

- Fruits
    - Banana
    - Grapes
- Veggies
    - Tomato
    - Broccoli

In [5]:
print('Hello, World')

Hello, World

In [7]:
#assign a string to a variable
text = 'Hello, World!'
print(text)

Hello, World!

In [8]:
text

'Hello, World!'

In [13]:
text = 'What\'s yourname?'
print(text)

What's yourname?

In [15]:
text = "What's your name?"
print(text)

What's your name?

In [16]:
text = '"What is the problem?", he asked'
print(text)

"What is the problem?", he asked

In [17]:
path = 'c:\\windows\\temp'
print(path)

c:\windows\temp

In [18]:
multiline = 'This is a test for multiline. This is the first line.\nThis is the second line'
print(multiline)

This is a test for multiline. This is the first line.
This is the second line

In [19]:
print('Hello, ' + 'World' * 3)

Hello, WorldWorldWorld

In [20]:
name = 'Sarah'

In [21]:
greeting = 'good morning'

In [23]:
print(greeting + ',' + name + '!')

good morning,Sarah!

In [24]:
2 + 2

4

In [25]:
3*5

15

In [26]:
#3 to the power of 4
3**4

81

In [27]:
15/5

3.0

In [28]:
14/5

2.8

In [29]:
# // is used to perform floor division. It truncates the fraction and rounds it to the smallest whole number to ward the left of the number line.
14//5

2

In [30]:
# Negatives move left on number line. The result is -3 instead of  -2
-14 // 5

-3

In [33]:
#Modulus operator % can be used to obtain remaider. Pay attention when negative number is involved
14%5

4

In [34]:
-14%5

1

In [35]:
2 + 3 * 4

14

In [36]:
(2+3)*4

20

In [37]:
2+3**2

11

In [38]:
(2+3)**2

25

In [39]:
-(4+3)+2

-5

In [40]:
x = 3
y = 2
x + 2

5

In [41]:
sum = x + y
sum

5

In [42]:
x * y

6

In [43]:
x = 2
x = x * 3
x

6

In [44]:
x = 2
# Note there is no space between '*' and '='
x *= 3
x

6

In [45]:
type("Hello, world!")

str

In [46]:
input_Value = '45.6'
type(input_Value)

str

In [47]:
weight = float(input_Value)
weight
type(weight)

float

In [48]:
5 > 10

False

In [49]:
type(5>10)

bool

In [50]:
#double equal sign is also used for comparison
10.0 == 10

True

In [52]:
# All uppercases are smaller than low cases in terms of ASCII code. It will compare each character from the beginning to the end between two words based on their ACSII code value.
'cat' < 'Dog'

False

In [53]:
'apple' < 'apricot'

True

In [54]:
# Both condition #1 and condition #2 are True?
3 < 4  and 7 < 8

True

In [55]:
# Either condition 1 or condition 2 are True?
3 < 4  or 7 > 8

True

In [56]:
# Both conditional #1 and conditional #2 are False?
not ((3 > 4) or (7 > 8))

True

In [57]:
nInput = input('Enter your number here:\n')

Enter your number here:
5

In [58]:
print(nInput + 3)

TypeError: must be str, not int

In [59]:
print(int(nInput)+3)

8

In [60]:
name = 'David'
print('Hello, %s' % name)

Hello, David

In [61]:
name = 'David'
age = 23
print('%s is %d years old.' % (name,age))
# %s and %d are used to specify formating for string and integer respectively.

David is 23 years old.

In [62]:
# With %f, the format is right justification by default. 
# As a result, white spaces are added to the left of the number
# 10.4 means minimal width 10 with 4 decinal points
print('Output a float number: %10.4f' % (3.5))

Output a float number:     3.5000

In [63]:
# plus sign after % means to show positive sign
# Zero after plus sign means using leading zero to fill width of 5
print('Output an integer: %+05d' % (23))

Output an integer: +0023

In [64]:
# plus sign after % means to show positive sign
# Zero after plus sign means using leading zero to fill width of 6
print('Output an integer: %+06d' % (23))

Output an integer: +00023

In [75]:
#if else block
x = 15
# divide x by 2, if the number is equal to 0 then it is even, otherwise it is odd
if x % 2 == 0:
   print('%d is even' % x)
else:
    print('%d is odd' % x)
    
print('This is always printed')

15 is odd
This is always printed

In [78]:
x = -2
if x < 0:
    print("The negative number %d is not valid here" % x)

print("This is always printed")

The negative number -2 is not valid here
This is always printed

In [81]:
x = 15
y = 10

if x < y:
    print("x is less than y")
else:
    if x > y:
        print("x is greater than y")
    else:
        print("x and y must be equal")

x is greater than y

In [82]:
x = 10
y = 10
# elif is an alternate way to write nested if statements. it abbreviates else if
if (x < y):
    print("x is less than y")
elif (x > y):
    print("x is greater than y")
else:
    print("x and y must be equal")

x and y must be equal

In [84]:
for name in ["Joe","Amy","Angelina", "Zuki"]:
    print("Hi %s Please come to my party on Saturday!" % name)

Hi Joe Please come to my party on Saturday!
Hi Amy Please come to my party on Saturday!
Hi Angelina Please come to my party on Saturday!
Hi Zuki Please come to my party on Saturday!

In [85]:
for i in [0,1,2,3,4]:
    print('The count is %d' % i)

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4

In [86]:
for i in range(5):
    print('The count is %d' %i)
print('Good bye!')

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4
Good bye!

In [87]:
print(range(5))

range(0, 5)

In [89]:
rangeA = range(5)
list(rangeA)

[0, 1, 2, 3, 4]

In [90]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [91]:
# list the numbers between 0 and 19 by 2's
list(range(0,19,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [94]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [95]:
i = 0
while (i < 6):
    print('The count is %d' % i)
    i = i + 1
    
print('Good bye!')

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4
The count is 5
Good bye!

In [96]:
i =  0
while True :
    print( 'The count is %d' % i)
    i = i + 1
    if i > 6:
        break
        
print('Good bye!')

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4
The count is 5
The count is 6
Good bye!

In [97]:
!pip install wget

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Stored in directory: /Users/sarahmckay/Library/Caches/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2
WARNING: You are using pip version 19.1.1, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [99]:
import wget

link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Jupyter/data/score.txt'
DataSet = wget.download(link_to_data)

print(DataSet)

score.txt

In [106]:
scorefile = open(wget.download('https://github.com/tulip-lab/sit742/raw/master/Jupyter/data/score.txt','r'))
#scorefile = open('score.txt','r')
#scorefile = open(DataSet,'r')

for line in scorefile:
    value = line.split()
    name = value[0]
    id =value[1]
    score = value[2]
    print('%s with ID %s has a score of %s' % (name,id,score))

David with ID 3402 has a score of 80
Jane with ID 3403 has a score of 76
Sophia with ID 3405 has a score of 65
Jane with ID 3447 has a score of 92
William with ID 3456 has a score of 75

In [107]:
infile = open('score.txt','r')
outfile = open('id.txt','w')

for line in infile:
    values = line.split()
    id = values[1]
    score = values[2]
    dataline = id + ',' + score
    
    outfile.write(dataline + '\n')

infile.close()
outfile.close()

In [108]:
f=open('id.txt', 'r')
message=f.read()
print(message)
f.close

3402,80
3403,76
3405,65
3447,92
3456,75

In [109]:
shoplist = ['apple','mango','carrot','banana']
l = [10,20,30,40]
empty = [] #initialise empty list

In [110]:
shoplist

['apple', 'mango', 'carrot', 'banana']

In [111]:
empty

[]

In [112]:
l

[10, 20, 30, 40]

In [113]:
l[2]

30

In [114]:
l[-1]

40

In [115]:
l[-3]

20

In [116]:
l = ['apple',2.0,5,[10,20]]

In [117]:
l[1]

2.0

In [118]:
l[3]

[10, 20]

In [119]:
l[3][1]

20

In [120]:
l = [10,20,30,40]
l[1] = 200

In [121]:
l

[10, 200, 30, 40]

In [122]:
shoplist = ['apple','mango','carrot','banana']

In [123]:
'apple' in shoplist

True

In [124]:
'rice' in shoplist

False

In [125]:
'a' in 'banana'

True

In [126]:
'seed' in 'banana'

False

In [127]:
[10,20,30,40] + [50,60]

[10, 20, 30, 40, 50, 60]

In [128]:
[10,20,30,40]*3

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

In [129]:
l = [1,2,3,4]

In [130]:
l[1:3]

[2, 3]

In [131]:
l[:2]

[1, 2]

In [132]:
l[-2:]

[3, 4]

In [133]:
l[:]

[1, 2, 3, 4]

In [134]:
l = [1,2,3,4]
l_org = l[:]
l[0] = 8

In [135]:
l

[8, 2, 3, 4]

In [137]:
l = [1,2,3,4]
l.append(5)
l.append([6,7])

In [138]:
l

[1, 2, 3, 4, 5, [6, 7]]

In [139]:
len(l)

6

In [143]:
shoplist = ['apple','mango', 'carrot', 'banana']
shoplist_sorted = sorted(shoplist)
shoplist_sorted

['apple', 'banana', 'carrot', 'mango']

In [145]:
s = 'I love apples'
s.split(' ') #make sure there is a space between the ''

['I', 'love', 'apples']

In [146]:
s = 'spam-spam-spam'
s.split('-')

['spam', 'spam', 'spam']

In [147]:
l = ['I', 'love', 'apples']
s = ' '.join(l)
s

'I love apples'

In [148]:
l = ['I', 'love', 'apples']
s = '-'.join(l)
s

'I-love-apples'

In [149]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
for item in shoplist:
    print(item)

apple
mango
carrot
banana

In [150]:
l = [2, 3, 5, 7]

for i in range(len(l)):
       l[i] = l[i] * 2

print(l)

[4, 6, 10, 14]

In [152]:
t = (1) 
type(t)

int

In [153]:
#this is a tuple, because of the comma. Without the comme the type would be int
t = (1,)
type(t)

tuple

In [154]:
t = ('a','b','c','d')
t[0]

'a'

In [155]:
t[1:3]

('b', 'c')

In [156]:
t[1] = 'B'

TypeError: 'tuple' object does not support item assignment

In [157]:
t = ('David','0233',78)
(name,id,score) = t

In [158]:
name

'David'

In [159]:
id

'0233'

In [160]:
score

78

In [161]:
#both sides must be equal in length or there will be an error
(a,b,c,d) = (1,2,3)

ValueError: not enough values to unpack (expected 4, got 3)

In [162]:
t = [('David',90),('John',88),('James',70)]

for (name, score) in t:
    print(name,score)

David 90
John 88
James 70

In [163]:
dict = {'David': 70, 'John': 60, 'Mike': 85}
dict['David']
dict['Anne'] = 92 #add a new item to the dictionary
dict

{'David': 70, 'John': 60, 'Mike': 85, 'Anne': 92}

In [164]:
dict = {'Daid': 70, 'John': 60, 'Amy': 85}

for key in dict:
    print(key, dict[key])

Daid 70
John 60
Amy 85

In [165]:
dict = {'David': 70, 'John': 60, 'Amy': 85}
sortedKeys = sorted(dict.keys())

for key in sortedKeys:
    print(key, dict[key])

Amy 85
David 70
John 60

In [170]:
def say_hello():
    print('Hello world!')

def hello_threetimes():
    say_hello()
    say_hello()
    say_hello()
    
hello_threetimes()
print('Done!')

Hello world!
Hello world!
Hello world!
Done!

In [172]:
ss = "Hello, World"
print(ss.upper())

tt = ss.lower()
print(tt)

HELLO, WORLD
hello, world