In [2]:
#import math module
import math

#set the variable x to 2, then perform an exponential and logarithmic function on x
x = 2
y1 = math.exp(x)
y2 = math.log(x)

#print the outcomes, the variables listed at the end are in the printed in the brackets in order
print("e^{} is {} and log({}) is {}".format(x, y1, x, y2))

e^2 is 7.38905609893065 and log(2) is 0.6931471805599453

In [4]:
#when we explicity import exp from math then we don't nee to use "math.exp()" only exp()
from math import exp

x=2
y=exp(x)

print("e^{} is {}".format(x,y))

e^2 is 7.38905609893065

In [5]:
from math import *

x = 2
y1 = exp(x)
y2 = log(x)

print("e^{} is {} and log({}) is {}".format(x, y1, x, y2))

e^2 is 7.38905609893065 and log(2) is 0.6931471805599453

In [6]:
#excercise 1
import math

x = 15
y = math.factorial(x)

print("the facorial of {} is {}".format(x, y))

the facorial of 15 is 1307674368000

In [16]:
#write a function that takes an integer variable and returns its factorial.
def factorial_func(x):
    if x==1:
        return 1
    else:
        return math.factorial(x) 
print(factorial_func(15))

1307674368000

In [17]:
x = input('Whats your name? ')

print("x is {}".format(type(x)))
print("Your name is {}".format(x))

Whats your name? Sarah
x is <class 'str'>
Your name is Sarah

In [28]:
#use input() to take a float value between -1 and 1 from the user
#use the function acos() from math to find the arc cosine of it
#print the value of the variable and its arc cosine

x = input("Please pick a value between -1 and 1 ")
y = math.acos(float(x))
print('acos({}) = {}'.format(x,y)) 


#if type(x) == float:
#    print(math.acos(x))
#else:
#    print("that is not a valid number")

Please pick a value between -1 and 1 0.01
acos(0.01) = 1.5607961601207294

In [30]:
print('Sample is using the end=\',\'')
for i in range(10):
    print(i, end=',')    
print('\nSample is using the end=\' \'')   
for i in range(10):    
    print(i, end=' ')
print('\nSample is without the end arguments') 
for i in range(10):    
    print(i)

Sample is using the end=','
0,1,2,3,4,5,6,7,8,9,
Sample is using the end=' '
0 1 2 3 4 5 6 7 8 9
Sample is without the end arguments
0
1
2
3
4
5
6
7
8
9

In [31]:
import datetime

t = datetime.time(11, 21, 33)
print(t)
print('hour  :', t.hour)
print('minute:', t.minute)
print('second:', t.second)
print('microsecond:', t.microsecond)
print('tzinfo:', t.tzinfo)

11:21:33
hour  : 11
minute: 21
second: 33
microsecond: 0
tzinfo: None

In [33]:
import datetime

today = datetime.date.today()
print(today)
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())
print('Year:', today.year)
print('Mon :', today.month)
print('Day :', today.day)

2020-03-15
ctime: Sun Mar 15 00:00:00 2020
tuple: time.struct_time(tm_year=2020, tm_mon=3, tm_mday=15, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=75, tm_isdst=-1)
ordinal: 737499
Year: 2020
Mon : 3
Day : 15

In [34]:
d1 = datetime.date(2013, 3, 12)
print('d1:', d1)

d2 = d1.replace(year=2015)
print('d2:', d2)

d1: 2013-03-12
d2: 2015-03-12

In [42]:
#Write a piece of code that gives you the day of the week that you were born.
#How about this year? Do you know what day of the week is it?

dob = datetime.date(1986,8,29)
#the weekday function returns an integer between 0 and 6 so we need to set-up a look-up to convert to text
day_of_week = {0 : 'Monday', 1 : 'Tuesday', 2 :'Wednesday', 3 :'Thursday', 4 :'Friday', 5 :'Saturday', 6 :'Sunday'}
print("dob:", dob)
print('I was born on', day_of_week[dob.weekday()])

t2 = dob.replace(year=2020)
print('and my birthday this year is on a', day_of_week[t2.weekday()])

dob: 1986-08-29
I was born on Friday
and my birthday this year is on a Saturday

In [45]:
dob = datetime.date(1986,8,29)
#the weekday function returns an integer between 0 and 6 so we need to set-up a look-up to convert to text
day_of_week = {0 : 'Monday', 1 : 'Tuesday', 2 :'Wednesday', 3 :'Thursday', 4 :'Friday', 5 :'Saturday', 6 :'Sunday'}
print("dob:", dob)
print('I was born on', day_of_week[dob.weekday()])

t2 = dob + datetime.timedelta(days=365)*29 + datetime.timedelta(days=366)*7
print('and my birthday this year is on a', day_of_week[t2.weekday()])

dob: 1986-08-29
I was born on Friday
and my birthday this year is on a Saturday

In [46]:
today = datetime.date.today()
print('ISO    :', today)

ISO    : 2020-03-15

In [47]:
str_format = "%a %b %d %H:%M:%S %Y"
s = today.strftime(str_format)
print('strftime:', s)

strftime: Sun Mar 15 00:00:00 2020

In [48]:
print(s)

d = datetime.datetime.strptime(s, str_format)
print(d)
print('strptime:', d.strftime(str_format))

Sun Mar 15 00:00:00 2020
2020-03-15 00:00:00
strptime: Sun Mar 15 00:00:00 2020

In [51]:
s = "7/03/2017"
str_format = "%m/%d/%Y"

d = datetime.datetime.strptime(s, str_format)
print(d)

2017-07-03 00:00:00

In [54]:
#You have a string as "7/30/2017 - 12:13". How do you convert it into a datetime object?
s = "7/03/2017 - 12:30"
str_format = "%m/%d/%Y - %H:%M"
d = datetime.datetime.strptime(s,str_format)
print(d)

2017-07-03 12:30:00